@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
}

.hero-section-bg {
  position: relative;
  overflow: hidden;
}

.hero-section-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.85) 29.64%,
      rgba(0, 0, 0, 0.4) 84.51%
    ),
    var(--hero-bg, url("./assets/heroSectionBg.webp"));
  background-size: cover;
  background-position: center;
  will-change: transform;
  animation: slow-zoom 10s linear infinite alternate;
}

@keyframes slow-zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.bg-process-section {
  background-image: linear-gradient(0deg, #ebebebe3, #ebebebe3),
    url("./assets/roof-repair.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-about-section {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("./assets/roof-repair.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-zoom {
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* adjust as needed */
}

.btn-zoom-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.3s;
}

.btn-zoom:hover .btn-zoom-content,
.btn-zoom:focus .btn-zoom-content {
  transform: scale(1.1);
}

.text-sm{
  font-size: 13px;
}
@media screen and (min-width:999px){
  .py-1 {
    padding-block: 11px;
}
.bg-gray-700.text-white.flex-1.md\:basis-\[60\%\].p-8.lg\:p-12.flex.flex-col.justify-center
 {
    padding-left: 150px;
}
.bg-\[\#9B1915\].text-white.p-2.w-70.rounded-lg.flex.items-center.gap-1 {
    width: 325px;
}
.w-6{
    width: calc(var(--spacing) * 12);
    height: 32px !important;
}
}