@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
}

.hero-section-bg {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.85) 29.64%,
      rgba(0, 0, 0, 0.4) 84.51%
    ),
    url("./assets/heroSectionBg.jpg");
  background-size: cover;
  background-position: center;
}
/* 
@keyframes fillProgress {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
} */